body {
  margin: 0;
}

#webgl {
  position: fixed;
  left: 0;
  top: 0;
}

.debug-custom {
  background-color: #fff;
  padding: 2em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

.fake-scroll {
  height: 25000px;
}

.timeline {
  width: 80%;
  height: 10px;
  background-color: red;
  display: flex;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  z-index: 2;
  .cursor {
    width: 25px;
    height: 25px;
    background-color: #aaa;
  }
}
