@font-face {
  font-family: 'Phosphate';
  src: url('/fonts/phosphate/PhosphatePro-Solid.woff2');
}

$regular: 'Outfit';
$title: 'Phosphate';

$black: #2C2A40;
$beige: #FBF8EF;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: #FBF8EF;
  margin: 0;
  color: $black;
  font-family: $regular, sans-serif;
}

#webgl {
  position: fixed;
  left: 0;
  top: 0;
}

$gap: 25px;

.cta {
  background-color: #fff;
  padding: .5em 2em .75em;
  border: 3px solid $black;
  border-radius: 7px;
  font-size: 1.35em;
  font-family: $title;
  cursor: pointer;
  box-shadow: 0px 7px 0px 0px $black;
  transition: 100ms;
  &:hover {
    transform: translateY(5px) !important;
    box-shadow: 0px 2px 0px 0px $black;
  }
}

.fake-scroll {
  height: 25000px;
}

.wrapper {
  width: 100%;
  height: 200vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  .screen {
    width: 100%;
    height: 100vh;
    display: flex;
    &.intro {
      background-color: $beige;
      padding: 2em 5%;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      position: relative;
      .names {
        width: 100%;
        display: flex;
        justify-content: space-between;
        a {
          display: inline-block;
          transform: translateY(1em);
          opacity: 0;
          color: $black;
          font-family: $title;
          text-decoration: none;
          transition: 300ms;
          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              transition-delay: $i*100ms;
            }
          }
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .star {
          transform: scale(0);
          animation-name: star2;
          animation-duration: 300ms;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          position: absolute;
          z-index: 2;
          &:nth-child(1) {
            height: 4.5em;
            left: -5em;
            bottom: 0;
            animation-delay: 3s;
          }
          &:nth-child(2) {
            height: 3em;
            left: 0;
            bottom: 3em;
            animation-delay: 3.25s;
          }
          &:nth-child(3) {
            height: 3.5em;
            right: -2em;
            top: -1em;
            animation-delay: 3s;
          }
          &:nth-child(4) {
            height: 3em;
            right: -5em;
            top: 3em;
            animation-delay: 3.25s;
          }
        }
        .heading {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          font-size: 9em;
          font-family: $title;
          gap: .15em;
          @media screen and (max-width: 1000px) {
            font-size: 7.5em;
          }
          @media screen and (max-width: 800px) {
            font-size: 5em;
          }
          @media screen and (max-width: 600px) {
            font-size: 4em;
          }
          span {
            display: inline-block;
            &.word {
              overflow: hidden;
            }
            &.letter {
              animation-duration: 500ms;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;
              transform: translateY(1.75em) rotate(10deg);
              @keyframes letter {
                50% {
                  transform: translateY(-20px) rotate(-4deg);
                }
                100% {
                  transform: translateY(0);
                }
              }
            }
          }
        }
        .cta {
          margin-top: 1em;
          transform: translateY(2em) rotate(5deg);
          opacity: 0;
          transition: 300ms cubic-bezier(.21,.66,.47,1.49);
        }
      }
      .tip {
        max-width: 400px;
        display: flex;
        align-items: center;
        gap: 1em;
        transform: translateY(2em);
        opacity: 0;
        transition: 200ms cubic-bezier(.17,.67,.61,1.4);
        transition-delay: 1s;
        img {
          height: 3em;
        }
      }
      &.active {
        .names {
          a {
            transform: translateY(0);
            opacity: 1;
          }
        }
        .letter {
          animation-name: letter;
        }
        .cta {
          transform: translateY(0) rotate(0deg);
          opacity: 1;
        }
        .tip {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    &.experience {
      padding: 0 10% 0 3%;
      justify-content: space-between;
      align-items: center;
      position: relative;
      overflow: hidden;
      .cards {
        width: 350px;
        height: 100vh;
        padding: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        .card {
          width: 350px;
          height: 500px;
          background-color: #fff;
          padding: 0 2em;
          border: 3px solid $black;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          text-align: center;
          transform: scale(.8) translateY(700px) rotate(-5deg);
          transition-duration: 500ms;
          &.visible {
            transform: scale(.8) translateY(80px) rotate(-2deg);
          }
          &.prev {
            transform: scale(.9) translateY(40px) rotate(0deg);
          }
          &.active {
            transform: scale(1) rotate(2deg);
            .month {
              transform: translateY(-60%) rotate(-5deg) scale(1);
            }
            .star {
              display: block;
            }
          }
          &.hidden {
            transform: translateX(200px) translateY(-800px) rotate(10deg);
          }
          .month {
            background-color: $black;
            padding: .5em 1.25em .75em;
            border-radius: 8px;
            position: absolute;
            left: 10%;
            top: 0;
            transform: translateY(0%) rotate(0deg) scale(0);
            font-size: 1.25em;
            color: #fff;
            font-family: $title;
            transition: 500ms;
          }
          .illu {
            width: 100%;
            height: 14em;
            object-fit: cover;
          }
          .heading {
            font-size: 2.5em;
            font-family: $title;
            line-height: 1em;
          }
          .description {
            margin-top: 1em;
            line-height: 1.5em;
          }
          .star {
            height: 3em;
            position: absolute;
            display: none;
            animation-name: star;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
          }
        }
      }
      .timeline {
        width: 10px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        .point {
          width: 15px;
          height: 15px;
          background-color: #c6c5d8;
          border-radius: 10px;
          display: flex;
          align-items: center;
          position: relative;
          left: -200px;
          opacity: 0;
          transition: 300ms;
          cursor: pointer;
          @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
              transition-delay: transform $i*100ms;
              opacity: 1;
            }
          }
          &.visible {
            left: 0%;
          }
          &.active {
            height: 35px;
            background-color: $black;
            .name {
              display: block;
            }
          }
          &:hover,
          &.hovered {
            background-color: $black;
            .name {
              transform: translateX(15%) rotate(-2deg) scale(1);
              opacity: 1;
            }
          }
          .name {
            background-color: $black;
            padding: .35em 1em .5em;
            border-radius: 5px;
            position: absolute;
            left: 100%;
            transform: translateX(-20%) rotate(-5deg) scale(0.5);
            opacity: 0;
            color: #fff;
            font-family: $title;
            transition: 200ms cubic-bezier(.21,.66,.47,1.49);
            z-index: -1;
            &::first-letter {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

@keyframes star {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(.75);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes star2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(.75);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
